.site-nav{
   display: flex; 
   align-items: center;
}
.name-title{
    padding-left: 2rem;
    padding-right: 2rem;
}
.nav-container{
    float: right;
    justify-content: space-betweengit add;
    gap: 2rem;
}
