.site-nav {
  font-family: Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 0.25rem 1rem;
  background-color: grey;
}

.name-title {
  font-weight: 600;
  font-family: Helvetica, Arial, sans-serif;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.welcome-block{
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  min-height: 50vh; /* more flexible than height */
}

.welcome-text{
  padding: 4rem;
}

.welcome-message{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.welcome-sub{
  text-align: left;
}

.headshot-wrapper {
  justify-self: center;
  align-self: center;

  padding: 1rem;
  width: clamp(12vw, 18vw, 22vw);
  aspect-ratio: 1 / 1;

  box-sizing: border-box;
}

.headshot {
  width: 100%;
  height: 100%;
  object-fit: cover;                      /* prevents distortion */
  border-radius: 50%;
  display: block;                         /* removes inline gaps */
}

.About{
    padding-left: 4rem;
}

.about-header{
}

.section-t_A{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  align-items: center;      /* vertical */
  justify-items: center;    /* horizontal */
}

.project-image {
  display: block;
  margin: 0 auto;
  width: clamp(20vw, 25vw, 30vw);
  height: auto;
  border-radius: 10%;
}

.project-text{

}

.project-title{
    text-align: center;
}

